<div class="top">
    <p class="logo" routerLink="posts">posts</p>
    <div class="logo" routerLink="">
        <p>I N D I R E</p>
    </div>
    <div>
        <p>
            <input type="search" placeholder="Búsqueda">
        </p>
    </div>
    <div class="iniciosSesion">
        <p>
            <input type="button" [value]="textoDeBoton" (click)="cambiarFormulario()">
            |
            <input type="button" [value]="textoDeBotonDos">
        </p>
    </div>

</div>

@if(formularioAbierto){
<login (usuarioLogueado)="cambiarFormulario(true)" (cerrarFormulario)="cambiarFormulario()"></login>
}