<div class="fondo">
    <form class="caja" (submit.prevent)="login()">
        <div class="cabecera">
            <p class="presentacion">Inicia sesión en tu cuenta de I N D I R E</p>
            <p class="separacion">|</p>
            <p class="cerrar">X</p>
        </div>
        <p>Nombre de usuario</p>
        <input type="text" placeholder="Nombre de usuario">
        <p>Contraseña</p>
        <input type="password" placeholder="Contraseña">
        <button>Inicia sesión</button>
    </form>
</div>